langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-pinecone

streamlit
beautifulsoup4
pinecone-client

python-dotenv
tiktoken
langchainhub

# for ollama models
ollama

# for huggingface models
transformers 
accelerate 
bitsandbytes